@charset "UTF-8";

#iAtendimento{
    background-color: #122ab2;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.cAtendimento{
    /* flex: 1; */
}
#logo{
    /* background-color: aqua; */
    flex-direction: row;
    justify-content: space-around;
}
#logo > span{
    display: none;
}
.cLogo{
    padding: 10px 0px 10px 0px;
    /* background-color: antiquewhite; */
}
#imenu{
    /* background-color: blanchedalmond; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#imenu > ul > li{
    display: inline-block;
    padding: 10px;
    /* padding-right: 20px; */
}

/* main{
    display: flex;
    flex-wrap: wrap;
} */
main > h1{
    padding: 30px 0px 30px 0px;
    width: 40vw;

    /* flex-basis: 100%; */
}
#sobre{
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;

    margin-bottom: 50px;
    width: 100%;


    /* background-color: aqua;
    border: 2px solid black; */
}
hr{
    width: 80%;
}
#sobre > h1{
    flex-basis: 100%;
    /* text-align: left; */
    padding-bottom: 20px;
    font-size: 2em;
}

#secaoP > p{
    width: 30vw;
    padding: 10px 0px 10px 0px;
}

#imgSobre{
    /* background-color: aqua;
    border: 2px solid black; */
    width: 38vw;
    align-items: flex-start;
}


#produto{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px;
    
    align-items: center;
    justify-content: center;
    /* background-color: aqua;
    border: 2px solid black; */
}
#produto > h1{
    flex-basis: 100%;
    text-align: center;
    padding-bottom: 20px;
    font-size: 2em;
}
#secaoProdutos{
    display: flex;
    flex-wrap: wrap;
}
#produto > h1{
    padding: 60px 0px 0px 30px
}
#secaoProdutos > div{
    width: 25vw;
    margin: 0px 10px 0px 0px;
    justify-content: end;
}
#secaoProdutos > div > h2{
    padding: 40px 0px 40px 30px
}
#ivalor {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items:end;
    /* background-color: aqua;
    border: 2px solid black; */
 }
 .dBox{
    width: 25vw;
    /* margin: 0px; */
    
 }
.cDados{
    text-align: left;
    padding-left: 50px;
    list-style: disc;
}

#sInformation{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;

    margin-top: 60px;
}
.dBoxInformation{
   width: 30vw;; 
}

#assinatura{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-around;
}
#assinatura > div{
    margin: 30px;
}
.nomeNew{
    text-align: left; 
}
.cInfor3{
    
    width: 25vw;
    text-align: left;
    padding: 10px 0px 10px 0px;
}

.formulario{
    background-color: #f7f7f7;
    display: flex;
    flex-wrap: wrap;

    padding-bottom: 0px;
}

#imail{
    height: 6vh;
    width: 30vw;
    border: 2px solid #2c70ff;
}
#submeter{
    background-color: #2c70ff;
    border: 2px solid #2c70ff;
    color: white;
    font-size: 1em;
    padding: 5px 10px 5px 10px;
}