@charset "UTF-8";
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
    width: 100%;
}
hr{
    height: 2px;
    /* color: #122ab2; */
    background-color: #122ab2;
    border: 0px;
}

#iAtendimento{
    background-color: #122ab2;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 10px;    
}
.cAtendimento{
    text-align: center;
    padding-top: 10px;
}

#logo{
    background-color: #2c70ff;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}
.cLogo{
    font-size: 3em;
    padding-top: 10px;
}
#logo > span{
    padding-bottom: 10px;
}
#imenu{
    display: none;
}

#imenu > ul > li > a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    
}
#imenu > ul{
    list-style: none;
}

main > h1{
    /* background-color: aqua;
    border: 2px solid black; */
    margin: auto;
    text-align: center;
    padding: 10px;
}

#sobre{
    margin: 10px;
}
#sobre > h1{
    /* background-color: aqua;
    border: 2px solid black; */
    text-align: center;
    padding-top: 20px;   
}
#secaoP > p{
    /* background-color: aqua;
    border: 2px solid black; */
    text-align: justify;
    text-indent: 30px;
    padding: 10px;
    font-weight:lighter;
}
#imgSobre{
    display: flex;
    flex-wrap: wrap;
}
#imgSobre > img{
    flex-grow: 1;
    margin: 10px;
}

#produto{
    margin: 10px;
}
#produto > h1{
    text-align: center;
    padding: 20px;
}

#purple {
    height: 6px;
    background-color: #6c42be;
    border: 0px;
}

#pink {
    height: 6px;
    background-color: #bd0838;
    border: 0px;
    margin-top: 20px;
}

#blue {
    height: 6px;
    background-color: #52c5d8;
    border: 0px;
    margin-top: 20px;
}
#secaoProdutos > div{
    /* background-color: aqua; */
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
}
#secaoProdutos > div > h2{
    background-color: #f7f7f7;
    font-weight: bold;
    color: #a4a4a4;
    text-align:left;
    padding: 10px 0px 10px 30px
}
 #ivalor {
    background-color: #f7f7f7; 
    /* background-color: #52c5d8; */
    padding: 20px;
 }
 .cHrValor{
    width: 80vw;
    margin: auto;
    margin-top: 10px;
    background-color: white;
 }
 .dBox{
    /* background-color: #52c5d8; */
    background-color: #f7f7f7; 
    border: 2px solid white;
    text-align: center;
    margin: 10px;
 }
 .tituloValor{
    color: #a4a4a4;
    margin-top: 20px;
 }
 .cvalor{
    margin-top: 10px;
 }
 .cDados{
    color: #a4a4a4;
    margin-top: 10px;
    list-style: none;
 }
 .cPLink{
    margin: 20px;
    
 }
 .cALink{
    color: black;
    text-decoration: none;
    border: 2px solid black;
    padding: 10px;
 }

.dBoxInformation{
    /* background-color: aqua; */
    margin: 5px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
 }
.lilas{
    width: 1vw;
    height: 4vh;
    background-color: #6c42be;
}
.vermelho{
    width: 1vw;
    height: 4vh;
    background-color: #bd0838;
}

.verde{
    width: 1vw;
    height: 4vh;
    background-color: #52c5d8; 
}
.cInfor1{
    margin-left: 10px;
    color: #a4a4a4;
}
.cInfor2{
    padding: 10px;
    color: #a4a4a4;
}

#assinatura{
    background-color: #f7f7f7;
}

.nomeNew{
    color: #a4a4a4;
    font-size: 2em;
    text-align: center; 
}
.italico{
    text-align: center;
    font-style: italic;
}
.formulario{
    padding-bottom: 20px;
    text-align: center;
}
#imail{
    height: 30px;
    font-size: 1em;
}

footer{
    background-color: #2c70ff;
    padding: 50px;
    text-align: center;
    color: #122ab2;
}